.biodata{
    text-align: center;
}
.welcome{
    color:blueviolet
}
.tothe{
    color:brown
}
.anjeng{
    color:blue
}
.gambar{
    text-align: center;
}
.ggwp{
    margin: 0;
    padding: 0;
    background: rgb(35,200,215);
background: linear-gradient(90deg, rgba(35,200,215,0.9948354341736695) 0%, rgba(1,104,168,1) 100%);
}

.gggaming{
    background-image: p/html/1162016.jpeg ;
    width: 200px;
    height: 200px;

}

.mengsedih{
    color:rgb(255, 0, 234)
}

.biodata p{
    color: yellowgreen;
}

.title{
    color: aquamarine;
}

button{
    background-color: rgb(213, 6, 255);
    color: white;
    padding: 2rem;
    border: 1px solid lightblue;
    border-radius: .5rem;
    transition: .3s;
    font-size: 4rem;
}
button:hover{
    background-color: transparent;
    color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    transform: translateY(-2px);
}
.biodata h1{
    margin: 0 0 2;
}
.blokkk{
    text-align: center;
}
.asu {
    text-align: center;
}
a{
    color: brown;
}
.anjinglah{
    text-align: center;
}
.wkwkwk{
    text-align: center;
}